footer {
	// background:
	// radial-gradient(black 15%, transparent 16%) 0 0,
	// radial-gradient(black 15%, transparent 16%) 8px 8px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	// background-color:$color-crimson;
	// background-size:16px 16px;
	// width: 100%;
	line-height: 2em;
	width: 100%;
	background-color:$color-darkBlue;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;	
	color: $color-textWhite;
	text-align: center;

	li,
	a {
		font-size: .5em;
		text-align: center;
		text-decoration: none;
		line-height: 2em;
		display: inline-block;
		color: $color-cream;
		padding: 1em;
	}
}



