// Colors created in Adobe Color CC
// Color rule => Triad
$color-cream: #F9FFE9;
$color-crimson: #891C12;
$color-red: #FF1500;
$color-darkBlue: #031B38;
$color-blue: #1469CC;
$color-textWhite: #E5EBE5;

