@import 'vars';

body {
	// background-image: url('src/images/mountain.jpg');
	background-color: $color-cream;
	font-family: arial;
	color: #3c3c3c;
	margin: 0 auto;
}

#search {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#search > div {
	// width: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0.5em;
}

#search > div > div {
	margin-top: 10px;
}

#search > label {
	display: inline;
}

#list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#image {
	box-sizing: border-box;
	width: 100%;
	padding: 0% 15%;
	display : flex;
	flex-direction: column;
	align-items: flex-start;
}

#list > h1, 
#image > h1 {
	padding: 0;
	
}

#image > h1 {
	margin-left: 2vw;
}

#imagecontainer{
	width: 100%;
}

#imagecontainer > div {
	margin-left: 2vw;
	font-size: 1.2em;
}

#imagecontainer > img {
	margin-bottom: 2vh;
	width: 100%;
}

div > p {
	text-align: center;
}

.back {
	margin-left: 2vw;
	display: inline;
}

@import 'top';
@import 'nav';
@import 'header';
@import 'logo';
@import 'footer';
@import 'contact';
@import 'media';